/* General reset and font settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  overflow-x: hidden;
}

/* Nav Container Styling */
nav {
  height: 10vh;
  width: 100%;
  margin-top: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
nav h1 {
  font-weight: 800;
  font-size: 2.8vw;
  font-family: serif;
  letter-spacing: -2px;
  cursor: pointer;
  position: relative;
  text-align: center;
  height: 100%;
  width: 40%;
  flex: 1;
}
nav h1::after {
  content: '©';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  position: absolute;
  top: 14%;
  right: 31%;
}
nav h1::before {
  content: 'Photography';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  position: absolute;
  letter-spacing: -1px;
  top: 59%;
  right: 33%;
  color: #666;
}
nav h2 {
  height: 100%;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-size: 1.5vw;
  cursor: pointer;
  font-weight: 550;
}
nav h2:nth-of-type(4) {
  border-right: none;
  width: 12%;
}
#nav-ber h2:nth-last-child(2) {
  width: 29%;
}
nav h3 {
  display: none;
}

/* Main content styling */
main {
  height: 100%;
  width: 100%;
}
/* Styling the first hero section */
#hero-1 {
  height: 90%;
  width: 100%;
  position: relative;
  padding: 2vw 4vw 4vw 4vw;
}
#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#overlay {
  height: 54%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3vw;
  color: white;
}
#overlay-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}
#overlay-1 :nth-child(1) {
  font-family: sans-serif;
  font-size: 3.6vw;
  font-weight: 900;
  letter-spacing: -3px;
}
#overlay-1 :nth-child(2) {
  font-size: 1vw;
  padding: 2vw 2.1vw;
  border: 1px solid #ffff;
  border-right: 4px solid #fff;
  border-radius: 50%;
}
#overlay-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
  padding: 0.5vw 0;
}

#overlay-2 h4 {
  font-size: 1.2vw;
  font-weight: 600;
}

#overlay-2 img {
  width: 4vw;
}

/* Styling the scroller */
#scroll {
  width: 100%;
  height: 30vh;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2vw;
}

#container {
  width: 100%;
  height: 100%;
  display: inline-block;
  animation: animations 10s linear infinite;
}

@keyframes animations {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#scroll img {
  width: 10vw;
  border-radius: 50%;
  height: 20vh;
  object-fit: cover;
  object-position: center;
  margin-left: 3.2vw;
}

/* Styling the alphabet section */

#alphabet {
  height: 11vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#alphabet h5 {
  font-size: 1.7vw;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  letter-spacing: 4px;
  margin-right: 2vw;
}

#alphabet h6 {
  font-size: 1vw;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  border: 2px solid rgb(0, 0, 0, 0);
  border-radius: 50%;
  padding: 0.5vw 0.6vw;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all ease 0.5s;
}
#alphabet h6:hover {
  border: 2px solid rgb(0, 0, 0);
}
#alphabet h6:nth-child(9),
#alphabet h6:nth-child(11),
#alphabet h6:nth-child(15),
#alphabet h6:nth-child(18),
#alphabet h6:nth-child(22) {
  color: grey;
}
/* Styling the second hero section */
#hero-2 {
  width: 100%;
  height: 110vh;
  display: flex;
  padding: 4vw 6vw 0 6vw;
  align-items: center;
  justify-content: space-between;
}
#hero2-part1 {
  height: 100%;
  width: 56%;
}
#hero2-part1 img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}
#hero2-part1 h3 {
  font-family: sans-serif;
  text-transform: uppercase;
  margin-top: 1vh;
  font-size: 2.5vw;
  font-weight: 900;
}
#hero2-part2 {
  height: 100%;
  width: 40%;
}
#hero2-part2 img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
#hero2-part2-text {
  display: flex;
  align-items: center;
  margin-top: 1vw;
  justify-content: space-between;
}
#left-text {
  font-size: 1.7vw;
  width: 35%;
}
#right-text {
  font-size: 1.1vw;
  width: 50%;
  display: flex;
  font-weight: 100;
  margin-top: -3vw;
}

/*  Styling the Third hero section*/
#hero-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 4vw 6vw 0 6vw;
  align-items: center;
  justify-content: space-between;
}

#hero-3.circularText {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#hero-3 .imgContainer {
  height: 100%;
  width: 100%;
  background-color: aqua;
  background-image: url(./Assets/h3_photo.jpg);
  background-size: cover;
  background-position: top;
}
#hero-3 .circularText .images {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#hero-3 .circularText .images .circleAnimation {
  animation: anime 10s linear infinite;
  mix-blend-mode: multiply;
}
#hero-3 .circularText .images .arrows {
  position: absolute;
  mix-blend-mode: difference;
}
@keyframes anime {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#hero-3 .circularText .textContainer h6 {
  font-size: 1.8vw;
  font-weight: 100;
  margin-left: 5%;
  width: 90%;
}

/*  Styling the Fourth hero section*/
#hero-4 {
  width: 100%;
  height: 100vh;
  padding: 3vw 6vw;
}
#hero-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
/*  Styling the Fifth hero section*/
#hero-5 {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 5vw 4vw;
}
#hero-5 > h2 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3.2vw;
  margin-bottom: 7vh;
  font-weight: 1000;
  letter-spacing: 0.2vw;
}
.hero-5-elem {
  height: 15vh;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
}
.hero-5-elem:nth-last-child(1) {
  border-bottom: 2px solid black;
}
.hero-5-elem:hover {
  background-color: rgb(211, 211, 211);
  transition: 0ms;
}
.hero-5-elem img {
  position: absolute;
  left: 5%;
  width: 18vw;
  height: 30vh;
  object-fit: cover;
  object-position: top;
  border-radius: 20%;
  opacity: 0;
  transition: all ease 0.4s;
  z-index: 99;
}
.hero-5-elem:hover img {
  opacity: 1;
  left: 24%;
}

.hero-5-elem h4 {
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 500;
  width: 6%;
}
.hero-5-elem .elem-part2 {
  width: 45%;
}
.elem-part2 h2 {
  font-size: 2.7vw;
  font-weight: 500;
}
.elem-part2 h5 {
  font-size: 0.8vw;
  font-weight: 600;
  text-transform: uppercase;
}

/*  Styling the Sixth hero section*/
#hero-6 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2vw 6vw;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}

#hero6-part1 {
  width: 45%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-image: url(https://images.unsplash.com/photo-1534339480783-6816b68be29c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: top;
  background-size: cover;
}

#hero6-part2 {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}
#hero6-part2-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.2vw;
}
#hero6-part2-text h2 {
  font-family: sans-serif;
  font-size: 2.8vw;
  font-weight: 1000;
  text-transform: uppercase;
}
#hero6-part2-text p:nth-child(2) {
  font-family: sans-serif;
  width: 60%;
  font-size: 2vw;
  font-weight: 400;
}
#hero6-part2-text p:nth-child(3) {
  font-family: sans-serif;
  font-size: 1.1vw;
}
#hero6-part2-image {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 1vw;
}
#hero6-part2-image #left-img {
  width: 55%;
  background-image: url(https://plus.unsplash.com/premium_photo-1682089892133-556bde898f2c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}
#hero6-part2-image #right-img {
  width: 45%;
  background-image: url(https://images.unsplash.com/photo-1630481698453-74ed52460d70?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: top;
  background-size: cover;
}

/*  Styling the seventh hero section*/
#hero-7 {
  width: 100%;
  height: 100vh;
  padding: 3vw 6vw;
}
#hero-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Styling the eighth hero section */
#hero-8 {
  width: 100%;
  height: 110vh;
  display: flex;
  padding: 4vw 6vw 0 6vw;
  align-items: center;
  justify-content: space-between;
}
#hero8-part1 {
  height: 100%;
  width: 56%;
}
#hero8-part1 img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: top;
}
#hero8-part2 {
  height: 100%;
  width: 40%;
}
#hero8-part2 img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 4vh;
}
#hero8-part2-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#left-text {
  font-size: 1.7vw;
  width: 35%;
}
#right-text {
  font-size: 1.1vw;
  width: 50%;
  display: flex;
  font-weight: 100;
}

/* Styling the marque section */
#marque {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0.4vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#marque h2 {
  display: inline-block;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
  font-family: sans-serif;
  margin-right: 18px;
  letter-spacing: 2px;
  animation: marqueanima 10s linear infinite;
}
@keyframes marqueanima {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 22px));
  }
}
/* Styling the ninths hero section */
#hero-9 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 4vw 6vw 0 6vw;
  gap: 2vw;
  justify-content: space-between;
}
#hero9-part1 {
  width: 20%;
}
#hero9-part1 h3 {
  font-size: 2vw;
  font-weight: 900;
}
#hero9-part2 {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  width: 43.5%;
}
#part2-top {
  font-size: 2vw;
}
#part2-bottom {
  height: 60%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1589386417686-0d34b5903d23?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==%20);
  background-position: center;
  background-size: cover;
}
#hero9-part3 {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
#part3-top {
  font-size: 2vw;
}
#part3-bottom {
  height: 60%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
  background-position: center;
  background-size: cover;
}
/* Styling the footer section */
footer {
  width: 100%;
  height: 40vh;
  border-top: 2px solid black;
  margin-top: 35px;
  border-bottom: 2px solid black;
  display: flex;
}
#footer-part1 {
  width: 25%;
}
#footer-part1 h2 {
  padding: 2vw 6vw;
  font-weight: 800;
  font-size: 2.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  letter-spacing: -2px;
  cursor: pointer;
  position: relative;
}
#footer-part1 h2::after {
  content: '©';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  position: absolute;
  top: 30%;
  right: 33%;
}
#footer-part1 h2::before {
  content: 'Photography';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  position: absolute;
  letter-spacing: -1px;
  top: 67%;
  right: 33%;
  color: #666;
}
#footer-part2 {
  width: 20%;
  padding: 2vw 6vw;
  border-right: 2px solid black;
  font-weight: 300;
  font-size: 1vw;
  text-align: center;
}
#footer-part3 {
  width: 20%;
  padding: 2vw 2vw;
  border-right: 2px solid black;
  font-weight: 300;
  text-align: center;
  font-size: 1vw;
}
#footer-part4 {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  align-items: center;
}
#p4-top {
  height: 20%;
  width: 100%;
  border-bottom: 2px solid black;
  margin-top: 2vw;
  font-weight: 400;
  text-align: center;
}
#p4-bottom {
  height: 20%;
  width: 100%;
}
#p4-bottom #icons {
  width: 100%;
  padding-left: 3vw;
  margin-top: 1vw;
}
#p4-bottom #icons i {
  font-size: 1.7vw;
  margin-right: 1vw;
}
#p4-bottom p {
  padding-top: 1vw;
  padding-left: 3vw;
}

/* I will remove it */
#temp {
  width: 100%;
  height: 3%;
}
