/* Importing the 'Be Vietnam Pro' font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

/* Universal selector: Applies to all elements on the page */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
/* Global variable */
:root {
  --first-color: #6e57e0;
  --bgOrange: #e84940;
}

/* Wrapper class */
#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Container class */
.container {
  width: 62.5vw;
  margin: 0 auto;
}

/* Navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.logo {
  width: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.logo-text {
  margin-left: 0.2rem;
  font-size: 28px;
}

.nav-items {
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-items div a {
  color: black;
}

.nav-items div a:hover {
  font-weight: bold;
  color: var(--first-color);
  transition: 0.8s;
}

a {
  text-decoration: none;
}

/**************** Media Queries START *****************/
@media (max-width: 1500px) {
  .nav-items {
    padding: 0 8em;
  }
}

@media (max-width: 1000px) {
  .nav-items {
    display: none;
  }
}
/**************** Media Queries END *****************/
/* End of Navbar section */

/* Start  of Hero Section */

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.faded-text {
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -16%;
  left: -5%;
  font-weight: bold;
  transition: all 3s;
  position: absolute;
}

.hero-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}
.role {
  color: #4e45d5;
  font-weight: 800;
}

.hero-section-sub-heading {
  font-size: 45px;
  line-height: 45px;
}
.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}
.btn-pink {
  background-color: var(--bgOrange);
  width: fit-content;
  padding: 0.8rem 2.3rem;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: all 0.8s;
  overflow: hidden;
  border-radius: 24.3px;
}

.btn-pink::after {
  content: "";
  position: absolute;
  background-color: #f9f8f8;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all linear 0.3s;
  z-index: -1;
}

.btn-pink:hover::after {
  transform: translate(-50%, -50%) scale(3);
}

.btn-pink:hover {
  color: black;
  border: 3px solid var(--bgOrange);
}

.hero-section-right {
  position: relative;
}

.absolute {
  position: absolute;
}
.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
}

.user-image img {
  height: 400px;
  z-index: -8;
}

@keyframes scaleImage {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }

  50% {
    box-shadow: none;
    transform: scale(1.1);
    filter: grayscale(1);
    box-shadow: 3px 3px 10px black;
  }

  100% {
    transform: scale(1);
    filter: grayscale(0);
  }
}

.icon-dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;
  animation-name: dotsAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  z-index: 9;
  top: -0.8rem;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes cubeRotate {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  50% {
    transform: translateY(15px) rotateY(180deg);
  }
  100% {
    transform: translateY(0px) rotateY(360deg);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeEffect;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shakeEffect {
  50% {
    left: 5%;
    bottom: 7%;
  }
}

.icon-zigzag {
  z-index: 9;
  top: 1.5em;
  left: -0.3em;
  animation-name: zigzagAnimation;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes zigzagAnimation {
  50% {
    left: 5%;
    top: 2%;
  }
}

.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    top: 3%;
    left: 48%;
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/**************** Media Queries START *****************/
@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding-bottom: 0;
  }

  .faded-text {
    display: none;
  }

  .hero-section-left {
    order: 2;
  }

  .hero-section-right {
    order: 1;
    margin-top: 2rem;
  }

  .user-image {
    padding: 0;
  }

  .hero-section-description {
    width: 100%;
    margin-top: 0;
  }

  .btn-pink {
    order: 3;
    margin: 0 auto;
  }
  .role {
    font-weight: 800;
    font-size: 28px;
  }
}

/**************** Media Queries END *****************/

/* End hero section */

/* Start Project section */
.project-section {
  background-color: rgba(231, 231, 231, 0.685);
  margin-top: 4rem;
}
.page-header {
  color: var(--bgOrange);
  font-size: 90px;
  padding-top: 30px;
  text-align: center;
}
.project-container {
  width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.project-card {
  width: 90%;
  height: 550px;
  background-image: url(./Images/projects/Project1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
  z-index: 0;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  transform: scaleX(1);
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
  z-index: 1;
}

.project-card:hover::before {
  transform: scale(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: white;
  z-index: 10;
  opacity: 0;
}
.project-card:hover .project-number {
  opacity: 1;
  /* transition: all 0.4s; */
}

.project-number-right {
  right: -40px;
  top: -45px;
}

.project-number-left {
  left: -40px;
  top: -45px;
}
.project-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1em;
  transition: all 0.4s;
}

.project-content-right {
  right: 10%;
}
.project-content-left {
  left: 10%;
}

.project-skill-container {
  width: 60%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.project-skill {
  width: 40px;
}

.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-subheading {
  width: 70%;
  font-size: 16px;
  font-style: italic;
}

.btn-grp {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}
.icon:hover {
  color: var(--bgOrange);
}

.project-card:hover .project-content {
  transform: scale(1.1);
}
#project1 {
  background-image: url(images/projects/Project1.jpg);
}

#project2 {
  margin-left: 120px;
  background-image: url(images/projects/Project2.jpg);
}

#project3 {
  background-image: url(images/projects/Project3.jpg);
}

#project4 {
  margin-left: 120px;
  background-image: url(images/projects/Project4.png);
}

.project-browse-btn {
  margin: -2rem auto 0;
}

/**************** Media Queries START *****************/

@media (max-width: 1300px) {
  .project-container {
    width: 100%;
  }
  .project-browse-btn {
    margin: -2rem auto 0;
  }
  .page-header {
    padding-top: 30px;
    color: var(--bgOrange);
    text-align: center;
    font-size: 40px;
  }
  .project-browse-btn {
    margin: -2rem auto 0;
  }
  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }
  .project-card {
    width: 100%;
    height: 300px;
  }
  .project-card {
    background-size: cover;
    background-position: center;
  }
  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 40px;
    width: 100%;
  }
  .project-sub-heading {
    width: 100%;
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 35px;
  }
  .project-card:hover .project-number {
    display: none;
  }
  .project-card:hover .project-content {
    scale: 0.55;
  }
}

@media screen and (max-width: 480px) {
  .project-browse-btn {
    margin: 0 auto;
  }
}

/**************** Media Queries END *****************/
/* End of Project section */

/* Skill section start */
.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}
.skill-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.resume-btn {
  margin-top: 1rem;
}

.skill-heading {
  font-size: 50px;
  font-style: bold;
  color: var(--bgOrange);
}
.caps {
  font-size: 90px;
}

.skill-subHeading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}
.skill-subHeading p {
  margin: 15px 0;
}

.skill-container-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap: 2rem;
  justify-content: center;
}
.skill-fade-text {
  position: absolute;
  font-style: bold;
  font-size: 15em;
  font-weight: bold;
  color: rgba(231, 231, 231, 0.637);
  bottom: -34.5%;
  overflow-y: hidden;
  right: -29%;
  user-select: none;
}

.blob-style {
  position: absolute;
  z-index: -5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
}
@keyframes blobAnimate {
  50% {
    top: 54%;
    left: 46%;
  }
}
.skills-logo {
  width: 90px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}

/**************** Media Queries START *****************/
@media (max-width: 1300px) {
  .skills-container {
    width: 92.5vw;
    margin: 0;
    padding: 2em;
    flex-direction: column;
  }
  .skill-heading {
    font-size: 30px;
    font: bold;
  }
  .caps {
    font-size: 60px;
  }
  .skill-container-left {
    width: 100%;
  }
  .skill-container-right {
    width: 100%;
  }
  .skills-logo {
    width: 50px;
  }
  .skill-fade-text {
    display: none;
  }
  .skill-subHeading {
    width: 100%;
  }
  .skill-heading::after {
    bottom: 9%;
  }
  .resume-btn {
    margin: 1rem auto;
  }
}

/**************** Media Queries END *****************/
/* Skill section end */

/* Qualification section start */
.qualification-section {
  padding-top: 1rem;
  text-align: center;
  background-color: rgba(231, 231, 231, 0.685);
}
.qualification-heading {
  font-size: 360px;
  margin-bottom: 40px;
  color: var(--bgOrange);
  padding-top: 2rem;
  font-size: 5em;
  color: var(--bgOrange);
  font-style: bold;
}

.qualification-subheading {
  font-size: 2rem;
  text-transform: capitalize;
  color: #343d68aa;
  font-weight: bold;
  text-align: center;
  z-index: -5;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  padding-bottom: 2rem;
}
.q_container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.q_container:nth-child(1) {
  animation-delay: 0s;
}
.q_container:nth-child(2) {
  animation-delay: 1s;
}
.q_container:nth-child(3) {
  animation-delay: 2s;
}
.q_container:nth-child(4) {
  animation-delay: 3s;
}

.text-box {
  text-align: left;
  padding: 20px 30px;
  background: var(--first-color);
  color: white;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-q_container {
  left: 0;
}
.right-q_container {
  left: 50%;
}

.timeline_img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-q_container .timeline_img {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 4s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100;
  }
}

.text-box h2 {
  font-weight: 600;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
.text-box a {
  display: block;
  text-decoration: none;
  color: white;
}
.left-q_container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--first-color);
  right: -15px;
}

.right-q_container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--first-color);
  left: -15px;
}

/**************** Media Queries START *****************/
@media (max-width: 768px) {
  .qualification-section {
    height: auto;
    padding-bottom: 2rem;
  }
  .qualification-heading {
    font-size: 30px;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .q_container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-q_container {
    left: 0;
  }
  .left-q_container .timeline_img,
  .right-q_container .timeline_img {
    left: 10px;
  }
  .left-q_container-arrow,
  .right-q_container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}
/**************** Media Queries END *****************/
/* Qualification section end */

/* contactme section start */
.contactme-section {
  padding: 50px;
  text-align: center;
}
.contactme-container {
  max-width: 1000px;
  margin: 0 auto;
}
.contactme-heading {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--bgOrange);
  padding-top: 2rem;
  font-size: 5em;
  color: var(--bgOrange);
  font-style: bold;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.contact-form {
  text-align: left;
}

.contactme-subheading {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #343d68aa;
}
.form-group {
  margin-bottom: 20px;
}
input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #333;
  border: none;
  box-shadow: 2px 2px 10px #1f1f1f;
}

input:focus,
textarea:focus {
  outline: none;
}

.form-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  margin: 1rem 0;
  border: none;
  cursor: pointer;
}
.form-btn:hover {
  border: none;
  transform: scale(0.9);
}
.contact-info {
  text-align: left;
  margin-left: 50px;
}

.contact-info h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #343d68aa;
}
.contact-info a {
  margin-bottom: 10px;
  color: #555;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.contact-info i {
  margin-right: 10px;
  color: var(--first-color);
}
/**************** Media Queries START *****************/

@media screen and (max-width: 768px) {
  .contactme-container {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
  .contactme-heading {
    font-size: 30px;
  }
}

/**************** Media Queries END *****************/

/* contactme section end*/

/* footer section start */
.footer-section {
  background: #343d68;
  position: relative;
}
.footer-faded-text {
  position: absolute;
  font-size: 5em;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
}
.footer-container {
  width: 100%;
  padding: 70px 30px 20px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  transition: all 0.4s;
}

.icon-wrapper a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  transition: all 0.9s;
}

.icon-wrapper a i {
  font-size: 2em;
  color: #343d68;
  opacity: 0, 9;
  transition: all 0.4s;
}

.icon-wrapper a:hover {
  background-color: #343d68;
}
.icon-wrapper a:hover i {
  color: var(--bgOrange);
  transition: 0.5s;
}

.link-wrapper {
  margin: 30px 0;
}

.link-wrapper ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.link-wrapper ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: all 0.6s;
}

.link-wrapper ul li a:hover {
  opacity: 1;
  color: var(--bgOrange);
}

.copyright {
  background-color: #343d68;
  padding: 20px;
  text-align: center;
}
.copyright p {
  color: white;
}
.my_name {
  opacity: 0.7;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/**************** Media Queries START *****************/

@media screen and (max-width: 768px) {
  .footer-faded-text {
    display: none;
  }
}
@media (max-width: 700px) {
  .link-wrapper ul {
    flex-direction: column;
  }
  .link-wrapper ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .icon-wrapper a {
    padding: 8px;
    margin: 4px;
  }
}
/**************** Media Queries END *****************/
/* footer section end*/
